@model IEnumerable<ShoesShoppingOnline.Models.DataModel.ProductModel>

@{
    ViewData["Title"] = "ManagerProduct";
    Layout = "~/Areas/Admin/Views/SharedAdmin/_LayoutAdmin.cshtml";
    ShoesShoppingOnline.Models.DataModel.PRN211_HS160974Context context = new ShoesShoppingOnline.Models.DataModel.PRN211_HS160974Context();
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <a href="#">Create </a>
        </div>
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Manager Product</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Category</th>
                                <th scope="col">Price</th>
                                <th scope="col">Image</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.ProductId</th>
                                    <td>@item.Name</td>
                                    @{
                                        string descrip = item.Description;
                                        if (descrip.Length > 50)
                                        {
                                            descrip = descrip.Substring(0, 50) + "...";
                                        }
                                    }
                                    <td>@descrip</td>
                                    @{
                                        var catName = context.CategoryHs160974s.FirstOrDefault(c => c.Id == item.CategoryId);
                                    }
                                    <td>@catName.Name</td>
                                    <td>@item.Price</td>
                                    <td>@item.Image</td>
                                    <td>Edit</td>
                                    <td>Delete</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>
</div>
