@model ShoesShoppingOnline.Models.Cart.CartModel
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ShoesShoppingOnline.Models.DataModel.PRN211_HS160974Context context = new ShoesShoppingOnline.Models.DataModel.PRN211_HS160974Context();
}

<div class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="location">
                    <ul>
                        <li><a href="index.html" title="go to homepage">Home<span>/</span></a>  </li>
                        <li><strong> Shopping cart</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table-bordered table table-hover">
                        <thead>
                            <tr>
                                <th class="cart-item-img"></th>
                                <th class="cart-product-name">Product Name</th>
                                <th class="move-wishlist">Size</th>
                                <th class="unit-price">Unit Price</th>
                                <th class="quantity">Qty</th>
                                <th class="subtotal">Subtotal</th>
                                <th class="remove-icon"></th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            @foreach(var item in Model._items)
                            {
                                <tr>
                                    <td class="cart-item-img">
                                        <a href="single-product.html">
                                            <img src="@item.Product.Image" alt="" style="width: 100px; height: 100px;">
                                        </a>
                                    </td>

                                    <td class="cart-product-name">
                                        <a href="single-product.html">@item.Product.Name</a>
                                    </td>
                                    <td class="quantity">
                                        @{
                                            var sizeName = context.SizeHs160974s.Where(s => s.Pid == item.Product.ProductId && s.SizeId == item.Size.SizeId).FirstOrDefault();
                                        }
                                        <span>@sizeName.SizeName</span>
                                    </td>
                                    <td class="unit-price">
                                        <span>@item.Product.Price</span>
                                    </td>
                                    <td class="quantity">
                                        <button class="btn btn-light" onclick="decreaseQuantity()">-</button>
                                        <span id="quantity">@item.quantity</span>
                                        <button class="btn btn-light" onclick="increaseQuantity()">+</button>
                                    </td>

                                    <td class="subtotal">
                                        <span>$174.00</span>
                                    </td>
                                    <td class="remove-icon">
                                        <a href="#">
                                            <img src="img/cart/btn_remove.png" alt="">
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="shopping-button">
                        <div class="continue-shopping">
                            <button type="submit">continue shopping</button>
                        </div>
                        <div class="shopping-cart-left">
                            <button type="submit">Clear Shopping Cart</button>
                            <button type="submit">Update Shopping Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="totals">
                    <p>subtotal <span>@Model.ComputeTotalValue()</span> </p>
                    <h3>Grand Total <span>@Model.ComputeTotalValue()</span></h3>
                    <div class="shopping-button">
                        <a href="@Url.Action("Checkout","AddToCart")">proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section btnChangeQuantity{
    <script>
        function increaseQuantity() {
            var quantityElement = document.getElementById("quantity");
            var currentQuantity = parseInt(quantityElement.innerHTML);
            var newQuantity = currentQuantity + 1;
            quantityElement.innerHTML = newQuantity;
        }

        function decreaseQuantity() {
            var quantityElement = document.getElementById("quantity");
            var currentQuantity = parseInt(quantityElement.innerHTML);
            if (currentQuantity > 1) {
                var newQuantity = currentQuantity - 1;
                quantityElement.innerHTML = newQuantity;
            }
        }
    </script>
}
